force-app/main/default/flows/SQX_Flow_Bulk_Import_CSV_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Bulk_Import_Data</name>
        <label>Bulk Import Data</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>SQX_UseFlowsBulkImportParts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FlowEndMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>externalIdFieldApi</name>
            <value>
                <elementReference>ExternalFieldApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>listFileId</name>
            <value>
                <elementReference>UploadedFiles_ContentDocIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>Object_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <elementReference>Operation_Type</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>SQX_Part</name>
        <choiceText>CQ Parts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SQX_Part__c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upsert</name>
        <choiceText>Upsert</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>upsert</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_File_Uploaded</name>
        <label>Is File Uploaded</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Import_CQ_Parts_Large_Volume_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>File Not Uploded</defaultConnectorLabel>
        <rules>
            <name>File_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LengthContentDocIds</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bulk_Import_Data</targetReference>
            </connector>
            <label>File Uploaded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExternalFieldApiName</name>
        <dataType>String</dataType>
        <expression>IF({!Object_Name}=={!SQX_Part}, &apos;SQX_Part_Number__c&apos;, &apos;Id&apos;)</expression>
    </formulas>
    <formulas>
        <name>LengthContentDocIds</name>
        <dataType>Number</dataType>
        <expression>LEN({!UploadedFiles_ContentDocIds})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Flow - Bulk Import CSV Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow - Bulk Import CSV Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>FlowEndMessage</name>
        <label>Flow End Message</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;File Uploaded: &lt;a href=&quot;/lightning/o/SQX_Bulk_Job_Manager__c/list&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Check Status&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Import_CQ_Parts_Large_Volume_Data</name>
        <label>Import CQ Parts -  Large Volume Data</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_File_Uploaded</targetReference>
        </connector>
        <fields>
            <name>Object_Name</name>
            <choiceReferences>SQX_Part</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Object Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Operation_Type</name>
            <choiceReferences>Upsert</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Operation Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Import_CQ_Parts</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Import CQ Parts [Only Accepts CSV Files]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.csv</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>UploadedFiles_ContentDocIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CQPartJob_Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedFiles_ContentDocIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Upload_File_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(225, 42, 42);&quot;&gt;Please upload at least 1 file to continue!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>File_Uploaded</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Import_CQ_Parts_Large_Volume_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CQPartJob_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedFiles_ContentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
